<!DOCTYPE HTML>
<html>
<head>
<title>Forms</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>

<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>

<style>
        article img{
           max-width:100%;
        }
</style>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__PUBLIC__/admin/index.html">Modern</a>
            </div>
            <!-- /.navbar-header -->
          {include file="public/static/admin/common/nav.html"/}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="graphs">
	     <div class="xs">
  	       <h3>添加秘钥</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form action="/ainsertkey" method="post" class="form-horizontal">
								<input name="id" value="{$info.id}" type="hidden" />
								<div class="form-group">
									<label for="focusedinput" disabled class="col-sm-2 control-label">软件名称</label>
									<div class="col-sm-8">
									<select name="title" id="selector1" class="form-control1">
										{volist name="info" id="vo"}
											<option>{$vo.title}</option>
										{/volist}
									</select>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" disabled class="col-sm-2 control-label">选择秘钥类型</label>
									<div class="col-sm-8">
									<select name="type" id="selector1" class="form-control1">
										<option value="1">7天</option>
										<option value="2">30天</option>
										<option value="3">365天</option>
									</select>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" disabled class="col-sm-2 control-label">秘钥</label>
									<div class="col-sm-8">
										<input  name="key" type="text" class="form-control1" id="focusedinput" >
									</div>
								</div>
							<div class="form-group">
								<label for="checkbox" class="col-sm-2 control-label"></label>
								<div class="col-sm-8">
									<button   class="btn btn_5  btn-info">添加</button>
								</div>
							</div>
						</form>
						</div>
					</div>
  			</div>
  <div class="copy_layout">
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="__PUBLIC__/admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="__PUBLIC__/admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </div>
  </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->



<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/js/custom.js"></script>
</body>
</html>
