<!DOCTYPE HTML>
<html>
<head>
<title>Basic_tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<!--webfonts-->
<!--//webfonts-->  
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__PUBLIC__/admin/index.html">Modern</a>
            </div>
            <!-- /.navbar-header -->
            {include file="public/static/admin/common/nav.html"/}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
      
  	 <h3>论坛管理</h3>
    <form action="./abbs" class="form-horizontal" method="post">
       <div class="form-group">
            <label for="focusedinput" class="col-sm-1 control-label">标题:</label>
                  <div class="col-sm-3">
                    <input type="text" name="title" class="form-control1" id="focusedinput" placeholder="标题">
                  </div>
           <button  class="btn btn-warning warning_22">搜索</button>
      </div>
     </form>
  	<div class="bs-example4" data-example-id="contextual-table">
      <table class="table">
      <thead>
        <tr>
          <th>论坛标题</th>
          <th>种类</th>
          <th>点击数</th>
          <th>评论数</th>
          <th>收藏数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
{volist name="info" id="vo"}
        <?php 
           $i+=2; 
        
           if($i%2==1){
            echo "<tr class=\"success\">";
          }else{
            echo "<tr class=\"active\">";
          }
        ?>
          <th scope="row">{$vo.title}</th>
          <td>{$vo.type}</td>
          <td>{$vo.clicknum}</td>
          <td>{$vo.returnnum}</td>
          <td>{$vo.collnum}</td>
          <td>
              <a href="./abbsinfo?id={$vo['id']}"><button type="button" class="btn btn-xs btn-info">内容修改</button></a>
          
              <a href="./abbsdel?id={$vo['id']}"><button type="button" class="btn btn-xs btn-info">删除</button></a>
          </td>
        </tr>
{/volist}


      </tbody>
    </table>
    {$info->render()}
   </div>
  </div>
  <div class="copy_layout">
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="__PUBLIC__/admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="__PUBLIC__/admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/js/custom.js"></script>
</body>
</html>
