<!DOCTYPE HTML>
<html>
<head>
<title>Basic_tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<!--webfonts-->
<!--//webfonts-->  
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__PUBLIC__/admin/index.html">Modern</a>
            </div>
            <!-- /.navbar-header -->
            
      
            {include file="public/static/admin/common/nav.html"/}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
      
  	 <h3>用户详情</h3>
   
  	<div class="bs-example4" data-example-id="contextual-table">
     <table class="table table-bordered">
          <caption>用户基本信息</caption>
          <tr>
            <th>手机号</th>
            <th>身份证号</th>
            <th>地址</th>
            <th>用户类型</th>
            <th>用户级别</th>
          
          </tr>
          <tr>
            <th scope="row">{$info.phone}</th>
            <td>{$info.idcard}</td>
            <td>{$info.address}</td>
            <td>{$info.state}</td>
            <td>{$info.grade}</td>
          </tr>
      </table>
      <table class="table table-bordered">
          <caption>购买过的商品</caption>
          <tr>
            <th>类型</th>
            <th>商品名称</th>
            <th>金额</th>
            <th>时间</th>
          </tr>
          <tr>
            <th scope="row">软件</th>
            <td>采集2018</td>
            <td>36.00</td>
            <td>2018/3/15</td>
          </tr>
      </table>

      <table class="table table-bordered">
          <caption>收藏文章</caption>
          <tr>
            <th>文章名称</th>
            <th>时间</th>
          </tr>
          <tr>
            <td>采集2018</td>
            <td>2018/3/15</td>
          </tr>
      </table>
      <table class="table table-bordered">
          <caption>收藏视频</caption>
          <tr>
            <th>视频名称</th>
            <th>时间</th>
          </tr>
          <tr>
            <td>采集2018</td>
            <td>2018/3/15</td>
          </tr>
      </table>


   </div>
  </div>
  <div class="copy_layout">
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="__PUBLIC__/admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="__PUBLIC__/admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/js/custom.js"></script>
</body>
</html>
