<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号 - 关于我们</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>公司简介</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index">首页</a></li>
                        <li class="active">公司简介</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <section class="content content-light">
        <div class="container">
            <p class="header text-center"><font color="black">公司简介</font></p>
            <p class="text-center">分享号的使命是让所有努力赚钱的人少走弯路，我们只分享好东西。</p>
             <div class="container content content-light home-1">
                <section  class="row animation-scroll">
                <figure  class="col-md-6 animated" data-animation="bounceInLeft">
                    <img width="426px" src="__PUBLIC__/index/img/about1.png" alt="" />
                </figure>
                <article class="col-md-6 animated" data-animation="bounceInRight">
                    <h3><font color="black">加入分享号!</font></h3>
                    <p>我们都一样，都是在追逐梦想的路上奔波的人，16年进入店淘，在努力生活的路上，分享号团队一路走来趟过雷，吃过亏，也跟普通的小白一样，走过不少弯路。</p>
                </article>
                </section>
                <section class="row animation-scroll">
                    <article class="col-md-6 animated" data-animation="bounceInLeft">
                        <h3><font color="black">加盟分享号</font></h3>
                        <p>拿店淘来说我相信，百分之99的客户做店淘还是赚到了钱，
也让不少人进入并且认识了电商行业，但是从17年10月10号以后淘宝开始限制店淘的发展，
让大部分店淘客户的发展进入了瓶颈阶段，但是不可否认，做店淘的人依然是呈现上升趋势，
原因很简单，因为依然可以赚钱。</p>
                        </article>
                    <figure class="col-md-6 animated" data-animation="bounceInRight"><img src="__PUBLIC__/index/img/aboutus2.png" alt="" /></figure>
                </section>
        <hr class="invisible" />
        <hr class="invisible" />
        <hr class="invisible" />
        <div class="container">
            <p class="header text-center"><font color="black">分享经济,大势所趋</font></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纵观店淘市场，行业已经发展到了几乎顶峰的阶段，但是由于接触的信息面不同，
真正做店铺赚到大钱的依然是少部分人，由于学费太贵，少则价钱多则十几万几十万，
很多老手都被被拒之门外，更别说新入行的小白。还有一部分客户，做店淘也有一段时间了，
也赚到了钱，身边有亲亲朋友也想跟着做，有做代理的想法，但是由于自身没有研究模式和软件的团队<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而去别人那里贴牌加盟价格又太高，限制了自身的发展。
当然电商赚钱路子多了，不只是店淘可以做，京东，拼多多，lazada等等一些平台都是可以赚到钱的。
但是大部分客户是不知道的，就算知道了，尝试新事物的代价是很昂贵的，或许又得从头走一遍弯路。
这些都起源于一个问题，没有人脉，获取不到市面上的新资源。
顺应时代的发展，顺应行业的发展，分享号应运而生。
</p>
        </div>
            </div>
        </div>
    </section>
 {include file="public/static/index/common/footer.html"/}
    <!-- / JavaScript Files -->
</body>
</html>