<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号 - 常见问题</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    <!-- CSS Files -->
	 {include file="public/static/index/common/head.html"/}
     <style>
        article img{
           max-width:100%;
        }
     </style>
</head>
<body>
    <header class="main">
        <div class="container">
            {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>分享号-论坛</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="__PUBLIC__/index/index.htm">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog list -->
    <section class="content content-light  blog">
        <div class="container">
            <div class="row">
                <!-- Blog list - center -->
                <div class="col-md-8">


                {volist name="info" id="vo"}
                    <article class="blog-item">
                        <header>
                            <h2 class="blog-title">标题:{$vo.title}</h2>
                         
                            <p class="blue-box blog-params">
                                <span><i class="fa fa-calendar"></i>发布时间:{$vo.addtime}</span>
                                <span><i class="fa fa-user"></i> <a href="__PUBLIC__/index/blog-list.htm">作者:{$vo.author}</a></span>
                                <span><i class="fa fa-user"></i> 浏览量:{$vo.clicknum}</span>
                                <span class="text-orange"><i class="fa fa-comments-o"></i>收藏数:{$vo.collnum}</span>
                            </p>
                        </header>
                        <p class="blog-description">
                            {$vo.content}
                        </p>
                        <p class="text-right blog-link-more"><a href="./bloginfo?id={$vo.id}" class="btn btn-theme btn-orange">详细信息</a></p>
                    </article>
                {/volist}

                {$info->render()}


                 
                </div>
                
                <!-- Blog - sidebar -->
                <aside class="col-md-4" role="complementary">
                
                    <!-- Widget: Search -->
                    <section class="widget search">
                        <h2>搜索</h2>
                        <form action="./blog" class="search-blog" method="post" role="search">
                            <input type="search" class="form-control input-lg" name="title" placeholder="请输入标题后回车" />
                            <a href="__PUBLIC__/index/#" class="submit"><i class="fa fa-search"></i></a>
                        </form>
                    </section>
                     <section class="widget category">
                        <h2>最新文章</h2>
                        <nav>
                        <ul>
                             {volist name="info2" id="vo2"}
                            <li><a href="./bloginfo?id={$vo2.id}"><i class="fa fa-play"></i>{$vo2.title}</a></li>
                               {/volist}
                        </ul>
                        </nav>
                    </section>



            
              
                </aside>
            </div>
        </div>        
    </section>
    
   {include file="public/static/index/common/footer.html"/}
</body>
</html>