<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号 - 联系我们</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    {include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
            {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>联系我们</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index">Home</a></li>
                        <li><a href="__PUBLIC__/index/#">About</a></li>
                        <li class="active">Contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
   
    
    <section class="content content-light">
        <div class="container">
            <p class="header text-center">不要害羞，保持联系！</p>
            <p class="text-center">Fill out all required fields to send a message. You have to login to your wordpress account to post any comment.<br /> Please don't spam, thank you!</p>
            
            <hr class="invisible" />
            <hr class="invisible" />
            
            <!-- Contact form -->
            <form action="register.htm" class="contact-form" role="form">
                <h2 class="title-form">Contact form</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fieldInputName">Name</label>
                            <input type="text" class="form-control input-lg" id="fieldInputName" placeholder="enter your name" />
                        </div>
                        <div class="form-group">
                            <label for="fieldInputTopic">Subject</label>
                            <input type="text" class="form-control input-lg" id="fieldInputTopic" placeholder="enter topic of message" />
                        </div>
                        <div class="form-group">
                            <label for="fieldInputEmail">Email address</label>
                            <input type="email" class="form-control input-lg" id="fieldInputEmail" placeholder="enter your email address" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fieldInputMessage">Message</label>
                            <textarea class="form-control" rows="11" id="fieldInputMessage" placeholder="text of message"></textarea>
                        </div>
                    </div>
                </div>
                <p class="text-right buttons-margin-horizontal">
                    <input type="reset" class="btn btn-theme btn-gray" value="Reset" />
                    <input type="submit" class="btn btn-theme btn-green" value="Send message" />
                </p>
            </form>
            
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            
            <p class="header text-center">Do you <strong>like</strong> us? So start to <strong>follow us!</strong></p>
            <p class="text-center">Lets start today and meet a lot of talented people from all over the world.</p>
            
            <hr class="invisible" />
            <hr class="invisible" />
            
            <!-- Social large buttons -->
            <div class="row">
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-facebook" href="__PUBLIC__/index/https://www.facebook.com/pages/KL-Webmedia/131260293670757"><i class="fa fa-facebook"></i></a></p>
                    <p class="text-center"><a class="social-facebook-text" href="__PUBLIC__/index/https://www.facebook.com/pages/KL-Webmedia/131260293670757">follow us on Facebook</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-gplus" href="__PUBLIC__/index/https://plus.google.com/113174627408639682462/"><i class="fa fa-google-plus"></i></a></p>
                    <p class="text-center"><a class="social-gplus-text" href="__PUBLIC__/index/https://plus.google.com/113174627408639682462/">follow us on Google+</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-twitter" href="__PUBLIC__/index/https://twitter.com/KLWebmedia"><i class="fa fa-twitter"></i></a></p>
                    <p class="text-center"><a class="social-twitter-text" href="__PUBLIC__/index/https://twitter.com/KLWebmedia">follow us on Twitter</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-dribbble" href="__PUBLIC__/index/http://dribbble.com/KL-Webmedia"><i class="fa fa-dribbble"></i></a></p>
                    <p class="text-center"><a class="social-dribbble-text" href="__PUBLIC__/index/http://dribbble.com/KL-Webmedia">follow us on Dribbble</a></p>
                </div>
            </div>
        </div>
    </section>
    
   {include file="public/static/index/common/footer.html"/}
</body>
</html>