<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号 - 联系我们</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    {include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
            {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>联系我们</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index">首页</a></li>
                        <!--<li><a href="__PUBLIC__/index/#">About</a></li>-->
                        <li class="active">联系我们</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content content-light">
        <div class="container">
            <p class="header text-center">不要害羞，保持联系！</p>
            <p class="text-center">填写以下信息发送给我们<br /> 请勿发送无意义信息，谢谢！</p>
            <hr class="invisible" />
            <hr class="invisible" />
            <!-- Contact form -->
            <form action="addinfo" class="contact-form" role="form" method="post" onsubmit="return checkform()" name="myform">
                <h2 class="title-form">Contact form</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fieldInputName">您的称呼</label>
                            <input type="text" class="form-control input-lg" id="fieldInputName" placeholder="填写您的名字"  name="name"/>
                        </div>
                        <div class="form-group">
                            <label for="fieldInputTopic">留言主题</label>
                            <input type="text" class="form-control input-lg" id="fieldInputTopic" placeholder="填写留言主题" name="title" />
                        </div>
                        <div class="form-group">
                            <label for="fieldInputEmail">邮箱地址</label>
                            <input type="email" class="form-control input-lg" id="fieldInputEmail" placeholder="填写邮箱地址" name="email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fieldInputMessage">信息内容</label>
                            <textarea class="form-control" rows="11" id="fieldInputMessage" placeholder="填写您的留言" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <p class="text-right buttons-margin-horizontal">
                    <input type="reset" class="btn btn-theme btn-gray" value="重新填写" />
                    <input type="submit" class="btn btn-theme btn-green" value="发送信息" />
                </p>
            </form>
            
            <hr class="invisible" />
            <hr class="invisible" />
            <hr class="invisible" />
            
            <p class="header text-center">你<strong>喜欢</strong> 我们么? 那么开始 <strong>跟上我们!</strong></p>
            <p class="text-center">让我们从今天开始，与来自世界各地的许多有才华的人见面。</p>
            
            <hr class="invisible" />
            <hr class="invisible" />
            
            <!-- Social large buttons -->
            <div class="row">
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-facebook" href="__PUBLIC__/index/https://www.facebook.com/pages/KL-Webmedia/131260293670757"><i class="fa fa-facebook"></i></a></p>
                    <p class="text-center"><a class="social-facebook-text" href="__PUBLIC__/index/https://www.facebook.com/pages/KL-Webmedia/131260293670757">follow us on Facebook</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-gplus" href="__PUBLIC__/index/https://plus.google.com/113174627408639682462/"><i class="fa fa-google-plus"></i></a></p>
                    <p class="text-center"><a class="social-gplus-text" href="__PUBLIC__/index/https://plus.google.com/113174627408639682462/">follow us on Google+</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-twitter" href="__PUBLIC__/index/https://twitter.com/KLWebmedia"><i class="fa fa-twitter"></i></a></p>
                    <p class="text-center"><a class="social-twitter-text" href="__PUBLIC__/index/https://twitter.com/KLWebmedia">follow us on Twitter</a></p>
                </div>
                <div class="col-md-3">
                    <p class="blue-box blue-box-social-btn center-block text-center"><a class="btn btn-social btn-large-size social-dribbble" href="__PUBLIC__/index/http://dribbble.com/KL-Webmedia"><i class="fa fa-dribbble"></i></a></p>
                    <p class="text-center"><a class="social-dribbble-text" href="__PUBLIC__/index/http://dribbble.com/KL-Webmedia">follow us on Dribbble</a></p>
                </div>
            </div>
        </div>
    </section>
    <script>
        function checkform(){
            var form=document.myform;
            var name=form.name.value;
            var email=form.email.value;
            var title=form.title.value;
            var content=form.content.value;
            if(name.length<1){
                alert("必填项不能为空！");
                return false;
            }
            if(email.length<1){
                alert("必填项不能为空！");
                return false;
            }
            if(title.length<1){
                alert("必填项不能为空！");
                return false;
            }
            if(content.length<1){
                alert("必填项不能为空！");
                return false;
            }
            return true;
        }
    </script>
   {include file="public/static/index/common/footer.html"/}
</body>
</html>