<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>分享号 - 密码找回</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    <!-- CSS Files -->
	{include file="public/static/index/common/head.html"/}
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/xcConfirm.css"/>
    <style>
        #senddx{
            position: relative;
            top:-48px;
            left:300px;
            width:100px;
            height:50px;
        }
        .btn-green{
            position: relative;
            top: -40px;
        }
    </style>
    <script type="text/javascript">
        function myCheck(){
             //判断验证码是否正确
            usercode=$("input[name='code']").val();
            $.post('codecheck',{code:usercode},function(data){
            if(data=="yes"){
                 //弹出重置密码信息
                  var txt="请输入新密码";
                 window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.input,{
                        onOk:function(v){
                   password=$("input[class='inputBox']").val();
                   userphone=$("input[name='phone']").val();
                  $.post('./aeditpass',{pass:password,phone:userphone},function(data){
                   if(data=="yes"){
                       window.wxc.xcConfirm("密码修改成功!", window.wxc.xcConfirm.typeEnum.info);
                  }else{
                     window.wxc.xcConfirm("密码修改失败!", window.wxc.xcConfirm.typeEnum.info);
                    }
                        });
                    }
                    });
                  }else{
                     window.wxc.xcConfirm("验证码错误!", window.wxc.xcConfirm.typeEnum.info);
                  }
            });
            return false;
        }
        function dx(){
          var userphone=$("input[name='phone']").val();
           if(!$("input[name='phone']").val().match(/^\d{11}$/)){
                 window.wxc.xcConfirm("手机号错误!", window.wxc.xcConfirm.typeEnum.info);
                    return false;
           }else{
               $.post("asenddx", {phone:userphone},
                     function(data){
                    if(data=="yes"){
                      window.wxc.xcConfirm("短信发送成功", window.wxc.xcConfirm.typeEnum.info);
                        $("#senddx").attr("disabled", true);
                          var time =60;
                          function Countdown(){
                            if (time >= 1) {
                               $("#senddx").html(time);
                                time -= 1;
                                setTimeout(function() {
                                    Countdown();
                                }, 1000)
                            }else if(time == 0){
                                   $("#senddx").attr("disabled", false).html("发送");
                            }
                        }
                         Countdown()
                    }else{
                       window.wxc.xcConfirm(data, window.wxc.xcConfirm.typeEnum.info);
                    }
            });
           }
     }

</script>
</head>
<body>
    <header class="main">
        <div class="container">
             {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>密码找回</h1>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <form action="codecheck" role="form" method="post" onSubmit="return  myCheck()">
               <!--  <h2 class="title-form">个人信息</h2> -->
                <div class="row">
                    <div class="col-md-4"></div>
                     <div class="col-md-4">
                            <div class="form-group">
                                <label for="fieldInputUsername">*手机号</label>
                                <input type="text" name="phone" class="form-control input-lg"  placeholder="请输入手机号" />
                            </div>
                           <div class="form-group">
                                <label for="fieldInputPassword1">*验证码</label>
                                <input type="text" name="code" class="form-control input-lg code"  placeholder="请输入验证码" />
                                <button class="btn btn-theme btn-orange" onclick="dx()" type="button" id='senddx'>发送</button>
                            </div>
                            <p><input type="submit"  class="btn btn-theme btn-green" value="&nbsp;&nbsp;&nbsp;&nbsp;验证账号&nbsp;&nbsp;&nbsp;&nbsp;" /></p>
                    </div>
                </div>
            </form>
        </div>        
    </section>
    {include file="public/static/index/common/footer.html"/}
</body>
</html>