 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/index/plugin/animate.min.css" />
    <style>
        .page-header{
            background-image: url("__PUBLIC__/index/img/lb2.jpg");
           background-size:100%;
           height: 730px;
           background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
     {include file="public/static/index/common/footer.html"/}
</body>
</html>