 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/index/plugin/animate.min.css" />
</head>
<body>
    <header class="main bg-imgs home-1">
        <div class="container">
            {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    <!-- <section class="poweredby">
        <figure class="container">
            <div class="row text-center client-logos">
                <div class="col-md-3">
                    <a href="__PUBLIC__/index/#">
                        <img src="__PUBLIC__/index/img/logo-bw.gif" alt="" />
                        <img src="__PUBLIC__/index/img/logo-color.gif" class="color" alt="" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="__PUBLIC__/index">
                        <img src="__PUBLIC__/index/img/logo-bw.gif" alt="" />
                        <img src="__PUBLIC__/index/img/logo-color.gif" class="color" alt="" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="__PUBLIC__/index">
                        <img src="__PUBLIC__/index/img/logo-bw.gif" alt="" />
                        <img src="__PUBLIC__/index/img/logo-color.gif" class="color" alt="" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="__PUBLIC__/index">
                        <img src="__PUBLIC__/index/img/logo-bw.gif" alt="" />
                        <img src="__PUBLIC__/index/img/logo-color.gif" class="color" alt="" />
                    </a>
                </div>
            </div>
        </figure>
    </section> -->
</body>
</html>