<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>eLearn - Video</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    <!-- CSS Files -->
	{include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>How to draw a painting</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="__PUBLIC__/index/index.htm">Home</a></li>
                        <li><a href="__PUBLIC__/index/categories.htm">Tutorials</a></li>
                        <li class="active">Video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Video: film view -->
    <section class="content content-light  video-film">
        <div class="container">
            <!-- Video film view - center -->
            <div class="row">
                <div class="col-md-8">
                    <article>
                        <!-- Video film - player -->
                        <a href="__PUBLIC__/index/http://www.youtube.com/v/9QscURRuF0g&amp;autoplay=1" class="video-prev video-play-here" style="height:350px; background-image:url('img/617x350.gif'); "></a>
                        
                        <div class="video-content">
                            <p>handler has just finished his Graphic Design degree and enjoys continuing to learn from Monica and building his experience. Joey and Phoebe focus on bringing new business to the company. They have won a number of big clients recently and both also have qualifications in project management to ensure that the projects run smoothly from start to finish.</p>
                        </div>
                        
                        <hr class="invisible" />
                        <hr class="invisible" />
                        
                        <!-- Video - related -->
                        <section class="related">
                            <h2>Similar videotutorials</h2>
                            <div class="row  videos-list">
                                <article class="col-md-6  video-item">
                                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">How to draw a painting</a></p>
                                </article>
                                <article class="col-md-6  video-item">
                                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">How to draw a painting</a></p>
                                </article>
                            </div>
                            <div class="row">
                                <article class="col-md-6  video-item">
                                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">How to draw a painting</a></p>
                                </article>
                                <article class="col-md-6  video-item">
                                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">How to draw a painting</a></p>
                                </article>
                            </div>
                        </section>
                    </article>
                </div>
                <aside class="col-md-4">
                    <h3 class="video-title">How to draw a painting</h3>
                    <p class="video-params">
                        Author: <b>Joe Doe</b> <br />
                        Date: <b>13, Jan 2013</b> <br />
                        Category: <b>Drawing</b> <br />
                        Views: <b>312</b> <br />
                        Likes: <b>15</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                    </p>
                    <!--<p class="video-description">handler has just finished his Graphic Design degree and enjoys continuing to learn from Monica and building his experience. Joey and Phoebe focus on bringing new business to the company. They have won a number of big clients recently and both also have qualifications in project management to ensure that the projects run smoothly from start to finish.</p>-->
                    <div class="row buttons-margin-horizontal">
                        <div class="col-md-6 button-full">
                            <a class="btn btn-theme btn-red"><i class="fa fa-heart"></i> Like</a>
                        </div>
                        <div class="col-md-6 button-full">
                            <a class="btn btn-theme btn-orange"><i class="fa fa-plus"></i> Collect</a>
                        </div>
                    </div>
                    <p class="button-full buttons-margin-horizontal"><a class="btn btn-theme btn-green"><i class="fa fa-download"></i> Download the video</a></p>
                    <div class="blue-box video-social">
                        <div class="row">
                            <div class="col-md-5">
                                <iframe src="__PUBLIC__/index///www.facebook.com/plugins/like.php?href=h__PUBLIC__/index/ttps%3A%2F%2Fwww.facebook.com%2Fpages%2FKL-Webmedia%2F131260293670757&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=188835154460780" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                            </div>
                            <div class="col-md-3">
                                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="__PUBLIC__/index/https://platform.twitter.com/widgets/tweet_button.html#count=none&amp;url=https%3A%2F%2F.twitter.com%2FKLWebmedia" data-twttr-rendered="true" style="width: 58px; height: 20px;"></iframe>
                            </div>
                            <div class="col-md-2">
                                <iframe src="__PUBLIC__/index/https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=https://plus.google.com/113174627408639682462/&amp;parent=https://plus.google.com/113174627408639682462/&amp;annotation=none" allowtransparency="true" frameborder="0" scrolling="no" title="+1"></iframe>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
    </section>
    
    {include file="public/static/index/common/footer.html"/}

</body>
</html>