<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>eLearn - Video list</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    {include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>LAZADA</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="__PUBLIC__/index/index.htm">Home</a></li>
                        <li><a href="__PUBLIC__/index/categories.htm">Tutorials</a></li>
                        <li class="active">Video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Video list boxes: grid -->
    <section class="content content-light  videos-list videos-list-grid">
        <div class="container">
            <div class="pull-right list-view-change">
                <a href="__PUBLIC__/index/videos-grid.htm" class="active"><i class="fa fa-th-large"></i> Grid view</a>
                <a href="__PUBLIC__/index/videos-list.htm"><i class="fa fa-th-list"></i> List view</a>
            </div>
            <div class="filter">
              <!--   <a href="__PUBLIC__/index/#" class="btn btn-theme navbar-btn btn-orange">All</a> &nbsp;  -->
                <a href="__PUBLIC__/index/#" class="btn btn-theme navbar-btn btn-lightblue">免费入门</a>
                <a href="__PUBLIC__/index/#" class="btn btn-theme navbar-btn btn-lightblue"> 做店模式</a>
                <a href="__PUBLIC__/index/#" class="btn btn-theme navbar-btn btn-lightblue">辅助软件</a>
                        
            </div>
            
            <hr class="invisible" />
            
            <div class="row">
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 video-item">
                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                    <h3 class="video-title"><a href="__PUBLIC__/index/video.htm">How to draw a painting</a></h3>
                    <div class="row video-params">
                        <div class="col-md-8">
                            Author: <b>Joe Doe</b>
                        </div>
                        <div class="col-md-4 text-right">
                            Views: <b>312</b>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-7">
                            Date: <b>13, Jan 2013</b>
                        </div>
                        <div class="col-md-5 text-right">
                            Likes: <b>102</b> <a href="__PUBLIC__/index/#"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="row video-params">
                        <div class="col-md-12">
                            Category: <b>Drawing</b>
                        </div>
                    </div>
                </article>
            </div>
            
            <!-- Pagination -->
            <ul class="pagination">
                <li class="disabled"><a href="__PUBLIC__/index/#"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="__PUBLIC__/index/videos-list.htm">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="__PUBLIC__/index/#">2</a></li>
                <li><a href="__PUBLIC__/index/#">3</a></li>
                <li><a href="__PUBLIC__/index/#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>        
    </section>
    
 {include file="public/static/index/common/footer.html"/}
</body>
</html>