<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>分享号 - 关于我们</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>投资者关系</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index">首页</a></li>
                        <li class="active">投资者关系</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <section class="content content-light">
        <div class="container">
            <p class="header text-center"><font color="black">分享号是做什么的?</font></p>
            <p class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加入我们，成为我们的客户。
在您成功注册后，会给您生成专属的 推荐码+推广链接+推广二维码
填写您的推荐码+通过您推荐的链接+通过扫您的二维码注册的客户都属于您的客户。
我们的系统自带二级分销，您的客户发展的客户，您一样会有同样的返佣。当然您的直属客户需要您来帮助他们解决问题。</p>
             <div class="container content content-light home-1">
                <section  class="row animation-scroll">
                <figure  class="col-md-6 animated" data-animation="bounceInLeft">
                    <img width="426px" src="__PUBLIC__/index/img/about1.png" alt="" />
                </figure>
                <article class="col-md-6 animated" data-animation="bounceInRight">
                    <h3><font color="black">加入分享号!</font></h3>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加盟我们，成为我们的金牌代理。
如果您有自己的老客户群体，客户计量比较大，人脉比较广，想直接拿到更高的返佣，请直接联系我们。</p>
                </article>
                </section>
                <section class="row animation-scroll">
                    <article class="col-md-6 animated" data-animation="bounceInLeft">
                        <h3><font color="black">加盟分享号</font></h3>
                        <p>合作在分享号，成为我们的资源共享人。
如果您有好的做店方法或者其他的一些可以扩大化的赚钱模式。请与我们联系，我们真诚的希望与您合作。</p>
                         <h3><font color="black">合作与分享号</font></h3>
                        <p>我们都是一群认真对待生活的人，都很急切的想要去发现一些可以赚钱的项目，
如果您有好的东西乐于分享，请把推广交给我们。让我们一起把您的思路放大。让更多的人赚到钱。</p>
                       


                    </article>
                    <figure class="col-md-6 animated" data-animation="bounceInRight"><img src="__PUBLIC__/index/img/aboutus2.png" alt="" /></figure>
                </section>
        <hr class="invisible" />
        <hr class="invisible" />
        <hr class="invisible" />
        <div class="container">
            <p class="header text-center"><font color="black">分享经济,大势所趋</font></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国务院总理李克强9月10日在2015年夏季达沃斯论坛的开幕式中指出，目前全球分享经济呈快速发展态势，
是拉动经济增长的新路子，通过分享、协作方式搞创业创新，
门槛更低、成本更小、速度更快，这有利于拓宽我国分享经济的新领域，
让更所的人参与进来。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此次“分享经济”被国家层面强调尚属首次，
种种迹象显示在“互联网+”之后，分享经济风口已经来临。
在中国经济发展探索新动力的时候，资源分享正在催生巨大发展机遇。
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们的团队拥有多年电商运营经验，为客户提供一站式的电商运营解决方案。
目前合作的资源有店淘，拼多多，京东，lazada系列-- 未来分享号深耕电商服务市场，响应国家“分享经济”的号召，
以运城为中心，辐射全国电商市场，逐步将平台推向全国。在中国经济转型的关键时期贡献一份力量。

</p>
           
        </div>
            </div>
        </div>
    </section>  
 {include file="public/static/index/common/footer.html"/}
    <!-- / JavaScript Files -->
</body>
</html>