<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>eLearn - Categories</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    {include file="public/static/index/common/head.html"/}

</head>
<body>
    <header class="main">
        <div class="container">
            {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Library of videos</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="__PUBLIC__/index/index.htm">Home</a></li>
                        <li class="active">Video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <section class="content content-light">
        <div class="container">
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row">
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-camera fa-5x"></i>
                        <h2>Photomanipulation</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-cogs fa-5x"></i>
                        <h2>Creating beats</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-list-alt fa-5x"></i>
                        <h2>Design websites</h2>
                    </a>
                </div>
            </div>
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row">
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-female fa-5x"></i>
                        <h2>Fashion &amp; styling</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-book fa-5x"></i>
                        <h2>Writing books</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-signal fa-5x"></i>
                        <h2>Google analytics</h2>
                    </a>
                </div>
            </div>
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row category-box-row-hidden">
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-camera-retro fa-5x"></i>
                        <h2>Photomanipulation</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-wrench fa-5x"></i>
                        <h2>Creating beats</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-list-alt fa-5x"></i>
                        <h2>Design websites</h2>
                    </a>
                </div>
            </div>
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row category-box-row-hidden">
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-female fa-5x"></i>
                        <h2>Fashion &amp; styling</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-book fa-5x"></i>
                        <h2>Writing books</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="__PUBLIC__/index/videos-grid.htm" class="category-box-item">
                        <i class="fa fa-bar-chart-o fa-5x"></i>
                        <h2>Google analytics</h2>
                    </a>
                </div>
            </div>
            
            <hr class="invisible" />
            
            <p class="text-center"><a href="__PUBLIC__/index/#more" class="btn btn-theme btn-gray" id="loadCategoryMore">Load more</a></p>
        </div>        
    </section>
    
     {include file="public/static/index/common/footer.html"/}
    <!-- / JavaScript Files -->
</body>
</html>