<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>eLearn - Video</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
    <!-- CSS Files -->
	{include file="public/static/index/common/head.html"/}
</head>
<body>
    <header class="main">
        <div class="container">
           {include file="public/static/index/common/nav.html"/}
        </div>
    </header>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{$video->title}</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="__PUBLIC__/index/index.htm">资源</a></li>
                        <li><a href="__PUBLIC__/index/categories.htm">电淘系</a></li>
                        <li class="active">视频</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Video: film view -->
    <section class="content content-light  video-film">
        <div class="container">
            <!-- Video film view - center -->
            <div class="row">
                <div class="col-md-8">
                    <article>
                        <!-- Video film - player -->
                        <video width="617" height="350" src="/public/videos/{$video->video}" controls=""></video>
                        
                        <div class="video-content">
                            <p>{$video->getData('desc')}</p>
                        </div>
                        
                        <hr class="invisible" />
                        <hr class="invisible" />
                        
                        <!-- Video - related -->
                        <section class="related">
                            <h2 class="full-left">相关软件</h2>
                            
                            <div class="row  videos-list">
                                {volist name='video.softs' id='soft'}
                                <article class="col-md-6  video-item">
                                    <img width="293.33" height="200" src="/public/static/pm/img/timg.jpg" alt="">
                                    <!-- <a href="/soft/{$soft->id}" class="video-prev video-prev-small"></a> -->
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">{$soft->title}</a></p>
                                </article>
                                {/volist}
                                <!-- <article class="col-md-6  video-item">
                                    <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                                    <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">软件2</a></p>
                                </article> -->
                            </div>
                            
                           
                        </section>
                    </article>
                </div>
                <aside class="col-md-4">
                    <h2 >{$video->title}</h2>
                    <p class="video-params">
                        价格: <b>{$video->price}</b> <br />
                        日期: <b>{:date('Y-m-d',strtotime($video->create_time))}</b> <br />
                        标签: {foreach $video->tags()->limit(3)->select() as $tag}<b>{$tag->name}&nbsp;&nbsp;</b>{/foreach} <br/>
                        销量: <b>{$video->num}</b> <br />
                        浏览量: <b>{$video->viewnum}</b> <br />
                        收藏量: <b>{$video->collnum}</b>
                    </p>
                    <div class="row buttons-margin-horizontal">
                        <div class="col-md-6 button-full">
                            <a class="btn btn-theme btn-orange"><i class="fa fa-plus"></i>收藏</a>
                        </div>
                        <div class="col-md-6 button-full">
                            <a class="btn btn-theme btn-green"><i class="fa fa-download"></i> 购买</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="color: red">     
                                <p class="btn btn-lg btn-danger">往期视频：</p>
                            </div>
                        <article class="col-md-12  video-item">
                            <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                            <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">视频</a></p>
                        </article>
                        <article class="col-md-12  video-item">
                            <a href="__PUBLIC__/index/video.htm" class="video-prev video-prev-small"></a>
                            <p class="button-full"><a href="__PUBLIC__/index/video.htm" class="btn btn-theme btn-green">视频</a></p>
                        </article>
                    </div>
                </aside>
            </div>
    </section>
    
    {include file="public/static/index/common/footer.html"/}

</body>
</html>