<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
		<title>我的收藏</title>
		<link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
        <link href="__PUBLIC__/index/css/mycenter/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/index/css/mycenter/personal.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/colstyle.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="__PUBLIC__/index/script/jquery.min.js"></script>
        <script src="__PUBLIC__/index/script/amazeui.js"></script>
	</head>
	<body>
		<!--头 -->
        <header class="main">
            <div class="container">
                {include file="public/static/index/common/nav.html"/}
            </div>
        </header>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap" style="height:650px;">
					<div class="user-collection">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的收藏</strong> / <small>My&nbsp;Collection</small></div>
						</div>
						<hr/>
                        <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
                            <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                                <li class="am-active"><a href="#tab1">视频</a></li>
                                <li><a href="#tab2">软件</a></li>
                                <li><a href="#tab3">文章</a></li>
                            </ul>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active" id="tab1">   
                                    <div class="s-item-wrap">
                                        <div class="s-item">
                                            <div class="s-pic">
                                                <a href="#" class="s-pic-link">
                                                    <img src="../images/1-item_pic.jpg_220x220.jpg" alt="s925纯银千纸鹤锁骨链短款简约时尚韩版素银项链小清新秋款女配饰" title="s925纯银千纸鹤锁骨链短款简约时尚韩版素银项链小清新秋款女配饰" class="s-pic-img s-guess-item-img">
                                                </a>
                                            </div>
                                            <div class="s-info">
                                                <div class="s-title"><a href="#" title="s925纯银千纸鹤锁骨链短款简约时尚韩版素银项链小清新秋款女配饰">s925纯银千纸鹤锁骨链短款简约时尚韩版素银项链小清新秋款女配饰</a></div>
                                                <div class="s-price-box">
                                                    <span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">49.90</em></span>
                                                    <span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">88.00</em></span>
                                                </div>
                                                <div class="s-extra-box">
                                                    <span class="s-comment">好评: 99.74%</span>
                                                    <span class="s-sales">月销: 69</span>
                                                </div>
                                            </div>
                                            <div class="s-tp">
                                                <span class="ui-btn-loading-before">找相似</span>
                                                <i class="am-icon-shopping-cart"></i>
                                                <span class="ui-btn-loading-before buy">加入购物车</span>
                                                <p>
                                                    <a href="javascript:;" class="c-nodo J_delFav_btn">取消收藏</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-tab-panel am-fade" id="tab2">
                                    <div class="s-content">
                                        <div class="s-item-wrap">
                                            <div class="s-item">
                                                <div class="s-pic">
                                                    <a href="#" class="s-pic-link">
                                                        <img src="../images/0-item_pic.jpg_220x220.jpg" alt="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰" title="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰" class="s-pic-img s-guess-item-img">
                                                    </a>
                                                </div>
                                            <div class="s-info">
                                                <div class="s-title"><a href="#" title="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰">包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰</a></div>
                                                <div class="s-price-box">
                                                    <span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">42.50</em></span>
                                                    <span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">68.00</em></span>
                                                </div>
                                                <div class="s-extra-box">
                                                    <span class="s-comment">好评: 98.03%</span>
                                                    <span class="s-sales">月销: 219</span>
                                                </div>
                                            </div>
                                            <div class="s-tp">
                                                <span class="ui-btn-loading-before">找相似</span>
                                                <i class="am-icon-shopping-cart"></i>
                                                <span class="ui-btn-loading-before buy">加入购物车</span>
                                                <p>
                                                    <a href="javascript:;" class="c-nodo J_delFav_btn">取消收藏</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab3">
                                    <div class="s-content">
                                        <div class="s-item-wrap">
                                            <div class="s-item">
                                                <div class="s-pic">
                                                    <a href="#" class="s-pic-link">
                                                        <img src="../images/0-item_pic.jpg_220x220.jpg" alt="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰" title="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰" class="s-pic-img s-guess-item-img">
                                                    </a>
                                                </div>
                                            <div class="s-info">
                                                <div class="s-title"><a href="#" title="包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰">包邮s925纯银项链女吊坠短款锁骨链颈链日韩猫咪银饰简约夏配饰</a></div>
                                                <div class="s-price-box">
                                                    <span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">42.50</em></span>
                                                    <span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">68.00</em></span>
                                                </div>
                                                <div class="s-extra-box">
                                                    <span class="s-comment">好评: 98.03%</span>
                                                    <span class="s-sales">月销: 219</span>
                                                </div>
                                            </div>
                                            <div class="s-tp">
                                                <span class="ui-btn-loading-before">找相似</span>
                                                <i class="am-icon-shopping-cart"></i>
                                                <span class="ui-btn-loading-before buy">加入购物车</span>
                                                <p>
                                                    <a href="javascript:;" class="c-nodo J_delFav_btn">取消收藏</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
        {include file="public/static/index/common/aside.html"/}
	</div>
    {include file="public/static/index/common/footer.html"/}
</body>
</html>