<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
		<title>评价管理</title>
        <link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
        <link href="__PUBLIC__/index/css/mycenter/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/index/css/mycenter/personal.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/cmstyle.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/appstyle.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="__PUBLIC__/index/script/jquery.min.js"></script>
        <script src="__PUBLIC__/index/script/amazeui.js"></script>
	</head>

	<body>
		<!--头 -->
		<header class="main">
            <div class="container">
                {include file="public/static/index/common/nav.html"/}
            </div>
        </header>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="user-comment" style="height:630px;">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价管理</strong> / <small>Manage&nbsp;Comment</small></div>
						</div>
						<hr/>
						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
							<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有评价</a></li>
								<li><a href="#tab2">待评价</a></li>
							</ul>
							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="comment-main">
										<div class="comment-list">
											<ul class="item-list">
                                                <div class="comment-top">
													<div class="th th-price">
														<td class="td-inner">评价</td>
													</div>
													<div class="th th-item">
														<td class="td-inner">商品</td>
													</div>												
												</div>
												<li class="td td-items">
													<div class="item-pics">
														<a href="#" class="J_MakePoint">
															<img src="../images/kouhong.jpg_80x80.jpg" class="itempics">
														</a>
													</div>
												</li>
												<li class="td td-comments">
													<div class="item-titles">
														<div class="item-opinions">好评</div>
														<div class="item-names">
															<a href="#" style="margin-left:-70px">
																<p class="item-basic-infos" >美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
															</a>
														</div>
													</div>
													<div class="item-comments">
														宝贝非常漂亮，超级喜欢！！！ 口红颜色很正呐，还有第两支半价，买三支免单一支的活动，下次还要来买。就是物流太慢了，还要我自己去取快递，店家不考虑换个物流么？
                                                    </div>
													<div class="item-infos">
														<div>
															<p class="info-littles"><span>颜色：12#玛瑙</span> <span>包装：裸装</span> </p>
															<p class="info-times">2015-12-24</p>

														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab2">
									<div class="comment-main">
                                        <div class="comment-list">
                                            <div class="item-pic">
                                                <a href="#" class="J_MakePoint">
                                                    <img src="../images/comment.jpg_400x400.jpg" class="itempic">
                                                </a>
                                            </div>
                                            <div class="item-title">
                                                <div class="item-name">
                                                    <a href="#">
                                                        <p class="item-basic-info">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                                    </a>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-little">
                                                        <span>颜色：洛阳牡丹</span>
                                                        <span>包装：裸装</span>
                                                    </div>
                                                    <div class="item-price">
                                                        价格：<strong>19.88元</strong>
                                                    </div>                                      
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="item-comment">
                                                <textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！"></textarea>
                                            </div>
                                            <div class="filePic">
                                                <div class="am-btn am-btn-secondary">发表评论</div>
                                            </div>
                                            <div class="item-opinion">
                                                <li><i class="op1"></i>好评</li>
                                                <li><i class="op2"></i>中评</li>
                                                <li><i class="op3"></i>差评</li>
                                            </div>
                                        </div>
                            <!--多个商品评论-->
                            <div class="comment-list">
                                <div class="item-pic">
                                    <a href="#" class="J_MakePoint">
                                        <img src="../images/comment.jpg_400x400.jpg" class="itempic">
                                    </a>
                                </div>

                                <div class="item-title">

                                    <div class="item-name">
                                        <a href="#">
                                            <p class="item-basic-info">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-little">
                                            <span>颜色：洛阳牡丹</span>
                                            <span>包装：裸装</span>
                                        </div>
                                        <div class="item-price">
                                            价格：<strong>19.88元</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="item-comment">
                                    <textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！"></textarea>
                                </div>
                                <div class="filePic">
                                    <div class="am-btn am-btn-secondary">发表评论</div>
                                </div>
                                <div class="item-opinion">
                                    <li><i class="op1"></i>好评</li>
                                    <li><i class="op2"></i>中评</li>
                                    <li><i class="op3"></i>差评</li>
                                </div>
                            </div>
                            
                            <div class="comment-list">
                                <div class="item-pic">
                                    <a href="#" class="J_MakePoint">
                                        <img src="../images/comment.jpg_400x400.jpg" class="itempic">
                                    </a>
                                </div>

                                <div class="item-title">

                                    <div class="item-name">
                                        <a href="#">
                                            <p class="item-basic-info">美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-little">
                                            <span>颜色：洛阳牡丹</span>
                                            <span>包装：裸装</span>
                                        </div>
                                        <div class="item-price">
                                            价格：<strong>19.88元</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="item-comment">
                                    <textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！"></textarea>
                                </div>
                                <div class="filePic">
                                    <div class="am-btn am-btn-secondary">发表评论</div>
                                </div>
                                <div class="item-opinion">
                                    <li><i class="op1"></i>好评</li>
                                    <li><i class="op2"></i>中评</li>
                                    <li><i class="op3"></i>差评</li>
                                </div>
                            </div>                                               
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $(".comment-list .item-opinion li").click(function() {  
                                        $(this).prevAll().children('i').removeClass("active");
                                        $(this).nextAll().children('i').removeClass("active");
                                        $(this).children('i').addClass("active");
                                        
                                    });
                             })
                            </script>                   
                        </div>									
									
								</div>
							</div>
						</div>

					</div>

				</div>
				<!--底部-->
			</div>
			{include file="public/static/index/common/aside.html"/}
		</div>
        {include file="public/static/index/common/footer.html"/}
	</body>
</html>