<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>商品咨询</title>

		<link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
        <link href="__PUBLIC__/index/css/mycenter/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/index/css/mycenter/personal.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/index/script/jquery.min.js"></script>
        <script src="__PUBLIC__/index/script/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		<header class="main">
            <div class="container">
                {include file="public/static/index/common/nav.html"/}
            </div>
        </header>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap" style="height:650px;">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">联系商家</strong> / <small>Contact &nbsp;merchant </small></div>
					</div>
					<hr/>
					<div class="suggestmain">
						这里到时候写一段话，写上客服联系方式
					</div>
				</div>
				<!--底部-->
			</div>
			{include file="public/static/index/common/aside.html"/}
		</div>
		{include file="public/static/index/common/footer.html"/}
	</body>
</html>