<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
		<title>账户明细</title>
        <link rel="stylesheet" href="__PUBLIC__/index/plugin/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
		<link href="__PUBLIC__/index/css/mycenter/admin.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/amazeui.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/personal.css" rel="stylesheet" type="text/css">
        <link href="__PUBLIC__/index/css/mycenter/wallet.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/index/script/jquery.min.js"></script>
		<script src="__PUBLIC__/index/script/amazeui.js"></script>
	</head>

	<body>
		<!--头 -->
        <header class="main">
            <div class="container">
                {include file="public/static/index/common/nav.html"/}
            </div>
        </header>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap" style="height:650px">
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">账单明细</strong> / <small>Electronic&nbsp;bill</small></div>
					</div>
					<hr>
					<div class="finance">
						<div class="financeText">
							<p>可用余额:<span>¥0.0</span></p>
							<p>账户状态:<span>有效</span></p>
							<a href="safety.html">安全中心：保护账户资产安全</a>
						</div>
					</div>
					<!--交易时间	-->
					<div class="order-time">
						<label class="form-label">交易时间：</label>
						<div class="show-input">
							<select class="am-selected" data-am-selected name="timesort" id="timechange">
								<option value="1" selected="">最近一周</option>
								<option value="2">最近一个月</option>
								<option value="3">最近三个月</option>
								<option class="4">最近一年</option>
							</select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="walletList">
						<div class="walletTitle">
							<li class="time">创建时间</li>
							<li class="name">详情</li>
							<li class="amount">金额</li>
							<li class="balance">余额</li>
						</div>
						<div class="clear"></div>
						<div class="walletCont">
							<li class="cost">
								<div class="time">
									<p> 2016-03-12
									</p>
									<p class="text-muted"> 18:41
									</p>
								</div>
								<div class="title name">
									<p class="content" style="padding:0px">
										消费
									</p>
								</div>

								<div class="amount">
									<span class="amount-pay">-32.00</span>
								</div>
								<div class="balance">
									<span>余额：</span><em>0</em>
								</div>
							</li>

							<li>
								<div class="time">
									<p> 2016-03-06
									</p>
									<p class="text-muted"> 22:22
									</p>
								</div>
								<div class="title name">
									<p class="content" style="padding:0px">
										退款至钱包
									</p>
								</div>

								<div class="amount">
									<span class="amount-pay">+16.00</span>
								</div>
								<div class="balance">
									<span>余额：</span><em>32</em>
								</div>
							</li>

							<li class="cost">
								<div class="time">
									<p> 2016-02-28
									</p>
									<p class="text-muted"> 17:58
									</p>
								</div>
								<div class="title name">
									<p class="content" style="padding:0px">
										消费
									</p>
								</div>

								<div class="amount">
									<span class="amount-pay">-16.00</span>
								</div>
								<div class="balance">
									<span>余额：</span><em>16</em>
								</div>
							</li>

							<li class="cost">
								<div class="time">
									<p> 2016-02-14
									</p>
									<p class="text-muted"> 20:42
									</p>
								</div>
								<div class="title name">
									<p class="content" style="padding:0px">
										提现
									</p>
								</div>

								<div class="amount">
									<span class="amount-pay">-100.00</span>
								</div>
								<div class="balance">
									<span>余额：</span><em>32</em>
								</div>
							</li>

							<li>
								<div class="time">
									<p> 2016-02-02
									</p>
									<p class="text-muted"> 13:24
									</p>
								</div>
								<div class="title name">
									<p class="content" style="padding:0px">
										充值
									</p>
								</div>

								<div class="amount">
									<span class="amount-pay">+132.00</span>
								</div>
								<div class="balance">
									<span>余额：</span><em>132</em>
								</div>
							</li>
                            <li>
                                <div class="time">
                                    <p> 2016-02-02
                                    </p>
                                    <p class="text-muted"> 13:24
                                    </p>
                                </div>
                                <div class="title name">
                                    <p class="content" style="padding:0px">
                                        充值
                                    </p>
                                </div>

                                <div class="amount">
                                    <span class="amount-pay">+132.00</span>
                                </div>
                                <div class="balance">
                                    <span>余额：</span><em>132</em>
                                </div>
                            </li>

						</div>	

						<!--分页-->
                        <ul class="am-pagination am-pagination-right">
                            <li class="am-disabled"><a href="#">&laquo;</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
					</div>
				</div>
				<!--底部-->
			</div>
			{include file="public/static/index/common/aside.html"/}
		</div>
        {include file="public/static/index/common/footer.html"/}
	</body>
</html>