<!DOCTYPE HTML>
<html>
<head>
<title>Basic_tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<!--webfonts-->
<!--//webfonts-->  
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__PUBLIC__/admin/index.html">Modern</a>
            </div>
            <!-- /.navbar-header -->
            {include file="public/static/admin/common/nav.html"/}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">

  	<h3>软件列表<small><a href="./asoft/create">新增</a></small></h3>
    <form action="/asoft" class="form-horizontal" method="get">
       <div class="form-group">
            <label for="focusedinput" class="col-sm-1 control-label">标题:</label>
                  <div class="col-sm-2">
                    <input type="text" name="title" class="form-control1" id="focusedinput" placeholder="标题">
                  </div>
           
            <label for="focusedinput" class="col-sm-1 control-label">类别:</label>
                  <div class="col-sm-2">
                    <select name="type" id="selector1" class="form-control1">
                      <option value="">全部</option>
                      <option value="1">普通</option>
                      <option value="2">推荐</option>
                      <option value="3">置顶</option>
                    </select>
                  </div>
           <button type="submit" class="btn btn-warning warning_22">搜索</button>
      </div>
     </form>

           {if condition="session('msg')!=null"}
           <div class="alert alert-info {session('code')==0?alert-info:alert-waring}">
               {:session('msg')}
           </div>
           {/if}
  	<div class="bs-example4" data-example-id="contextual-table">
    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th>描述</th>
          <th>状态</th>
          <th>价格</th>
            <th>添加时间</th>
          <th>购买</th>
          <th>收藏</th>
          <th>浏览</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
       <!--  <tr class="active">
          <th scope="row">1</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr> -->

{volist name="info" id="vo"}
       <tr>
          <th scope="row">{$vo.title}</th>
          <td>{$vo.desc}</td>
          <td>{$vo.type}</td>
          <td>{$vo.price}</td>
          <td>{$vo.create_time}</td>
          
          <td>{$vo.num}</td>
          <td>{$vo.collnum}</td>
          <td>{$vo.viewnum}</td>
          <td class="btn-group">
                <button type="button" onclick="event.preventDefault();
                                                     document.getElementById('del-form').submit();" class="btn btn-xs btn-danger">删除</button>
                <button type="button" onclick="location.href='/asoft/'+{$vo.id}+'/edit'" class="btn btn-xs btn-info">修改</button>
            </td>
            <form id="del-form" action="/asoft/{$vo.id}" method="POST" style="display: none;">
                  <input type="hidden" name="_method" value="DELETE" >
            </form>
        </tr>
{/volist}
      </tbody>
    </table>
   </div>
    {$info->appends($search)->render()}
  </div>
  <div class="copy_layout">
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="__PUBLIC__/admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="__PUBLIC__/admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
  </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/js/custom.js"></script>
</body>
</html>
