<!DOCTYPE HTML>
<html>
<head>
    <title>新增视频</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
     <!-- Bootstrap Core CSS -->
    <link href="/public/static/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/public/static/admin/css/style.css" rel='stylesheet' type='text/css' />
    <!-- <link href="/public/static/admin/css/font-awesome.css" rel="stylesheet">  -->
    <!-- Generic page styles -->
    <!-- <link rel="stylesheet" href="/public/static/jQuery-File-Upload/css/style.css"> -->
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/public/static/jQuery-File-Upload/css/jquery.fileupload.css">
    <!-- jQuery -->
    <link href="/public/static/admin/css/custom.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/public/static/admin/index.html">Modern</a>
            </div>
            <!-- /.navbar-header -->
            {include file="public/static/admin/common/nav.html"/}
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="graphs">
	     	<div class="xs">
  	       		<h3>新增视频</h3>
                <div class="tab-content">
                    <div class="tab-pane active" id="horizontal-form">
                        <form id="commentForm" action="/avideo" method="post" class="form-horizontal">
                            <div class='form-group {if condition="error('title')!=null"}has-error{/if}'>
                                <label for="focusedinput" class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-8">
                                    <input name="title" type="text" class="form-control1" id="focusedinput" value="{:old('title')}" placeholder="请填写标题">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{:error('title')}</p>
                                </div>
                            </div>
                            <div class='form-group {if condition="error('video')!=null"}has-error{/if}'>
                                <label  class="col-sm-2 control-label">视频上传</label>
                                <div class="col-sm-8">
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>添加文件</span>
                                        <input data-form-data='{"field": "files"}' id="fileupload" multiple name="files[]" type="file">
                                        <input id="video_src" type="hidden" name="video" value="{:old('video')}">
                                    </span>
                                    <!--进度条-->
                                    <div id="progress" class="progress" style="background-color: #fff;margin-top: 10px;">
                                        <div class="progress-bar progress-bar-success" {if condition="old('video')!=null"} style="width: 100%" {/if}></div>
                                    </div>
                                    <!--上传按钮-->
                                    <div id="files" class="files">
                                        {if condition="old('video')!=null"}
                                            <span style="color: green">上传成功</span>
                                        {/if}
                                        
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{:error('video')}</p>
                                </div>
                                <!-- 文件上传 -->

                            </div>
                            <div class='form-group {if condition="error('type')!=null"}has-error{/if}'>
                                <label for="checkbox" class="col-sm-2 control-label">种类</label>
                                <div class="col-sm-8">
                                    <div class="checkbox-inline"><label><input name="type" value="1" type="radio" {if condition="old('type')==1"} checked {/if}> 普通</label></div>
                                    <div class="checkbox-inline"><label><input name="type" value="2" type="radio" {if condition="old('type')==2"} checked {/if}> 精选</label></div>
                                    <div class="checkbox-inline"><label><input name="type" value="3" type="radio" {if condition="old('type')==3"} checked {/if}> 顶置</label></div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{:error('type')}</p>
                                </div>
                            </div>
                            <div class='form-group {if condition="error('price')!=null"}has-error{/if}'>
                                <label for="focusedinput" class="col-sm-2 control-label">价格</label>
                                <div class="col-sm-8">
                                    <input name="price" type="text" class="form-control1" id="focusedinput" value="{:old('price')}" placeholder="请填写价格">
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{:error('price')}</p>
                                </div>
                            </div>
                            <div class='form-group {if condition="error('desc')!=null"}has-error{/if}'>
                                <label for="checkbox" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-8">
                                    <div id="editor" type="text/plain" name="desc" style="width:700px;height:500px;">
                                        {:old('desc')}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">{:error('desc')}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="checkbox" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn_5  btn-info">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
  			</div>
            <div class="copy_layout">
                <p>
                    Copyright &copy; 2015.Company name All rights reserved.More Templates
                    <a href="/public/static/admin/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
                    - Collect from
                    <a href="/public/static/admin/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                </p>
            </div>
        </div>
        </div>
    </div>
    <!--jquery-->
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-load-image/2.19.0/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://cdn.bootcss.com/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="https://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--富文本编辑器-->
    <script type="text/javascript" charset="utf-8" src="/public/static/common/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/static/common/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/public/static/common/lang/zh-cn/zh-cn.js"></script>
    <!-- 原模板js -->
    <script src="/public/static/admin/js/metisMenu.min.js"></script>
    <script src="/public/static/admin/js/custom.js"></script>
    <!--文件上传-->
    <script src="/public/static/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/public/static/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
    <script type="text/javascript">
        $(function(){
            var ue = UE.getEditor('editor');

        })
    </script>
    <script src="/public/static/pm/file_upload.js"></script>
    <script>
    </script>
</body>
</html>
